<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Notes</title>
    <link rel="stylesheet" href="/style/new_edit.css">
</head>
<body>
    
    <div id="form_container">
    <form id="editFormNotes" action="/posts/:<%= notes.id %>" method="POST">

        <label>Book Name</label><br>
        <input type="text" name="b_name" value="<%= notes.title %>" required><br>

        <label>Book Cover Image</label><br>
        <input type="text" name="cover-page" value="<%= notes.image %>" required><br>

        <label>Opinion on Book</label><br>
        <input type="text" name="books_intro" value="<%= notes.books_intro %>" required><br>

        <label>Reviews</label><br>
        <input type="text" name="reviews" value="<%= notes.reviews %>" required><br>

        <label>Notes</label><br>
        <textarea type="text" name="notes" required><%= notes.notes %></textarea><br>

        <button type="submit" name="edited" value="submit">Submit</button>
    </form>
    </div>
    
</body>
</html>